$sans-serif: Arial, sans-serif;
$sans-serif-alt: Lato, sans-serif;
$serif: Crete Round, serif;
$font-gotham: Gotham;
$font-family-base: $font-gotham, Roboto, Helvetica, Arial, sans-serif;
$font-steelfish: Steelfish, Roboto, Helvetica, Arial, sans-serif;

$h1-font-size-jumbo: 3vw !default;
$h2-font-size-jumbo: 2.7vw !default;
$h3-font-size-jumbo: 2.2vw !default;

$button-black: #272727;
$btn-hover: #006095;
$btn-green: #00AB84;
$grey9: #9c9c9c;
$blue1: #006095;
$nero: #202020;
$btn-primary: #272727;
$grey10: #9c9c9c;
$grey11: #e4e4e4;
$grey12: #e6e6e6;

$container-max-widths: (
    md: 720px,
    lg: 940px,
    xl: 1350px
) !default;

@import "~base/variables";