@import "base/cart";
@import "./variables";
@import "./mixins";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "~base/cart";

.empty-cart {
	h1 {
	    font-size: 2em;
	}
	.cart-empty-continue-shopping {
		.continue-shopping-link {
			font-size: 14px;
	    	color: #202020;
		}
	}
}
.breadcrumbs {
	font-size: 12px;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: left;
	margin: 0 auto;
		a {
			color:#9c9c9c;
			&:hover {
				color: #006095;
				text-decoration: none;
			}
		}
		.child-crumb {
			&:before {
			content: "/";
			margin: 5px;
		}
	}
}
.cart-top-items {
	h2 {
		text-transform: uppercase;
	    margin: 0;
	    font-size: 2rem;
	    letter-spacing: 0.25rem;
	    font-weight: 400;
    }
}
.cart-page {
	.cart-product-info:first-child {
	    border-top: 1px solid #e9e9e9;
	}
	.cart-product-info {
	    border-bottom: 1px solid #e9e9e9;
	    .cart-product-item-info-content {
	    	border-right: 1px solid #e9e9e9;
	    	.item-attributes {
	    		.line-item-header {
		    		.line-item-name {
		    			font-size: 0.875rem;
					    text-transform: uppercase;
					    letter-spacing: 0.0625rem;
					    font-weight: 300;
		    		}
		    		.line-item-brand {
		    		    display: block;
					    font-size: 0.75rem;
					    letter-spacing: 0.09375rem;
					    color: #202020;
		    		}
	    		}
		    	.line-item-attributes {
		   		    font-size: 0.75rem;
				    line-height: 1.125rem;
				    color: #9c9c9c;
				    font-weight: 300;
	    		}
	    		.item-attributes-total-price {
	    			.line-item-total-price-amount {
	    				font-size: 0.75rem;
					    line-height: 1.125rem;
					    color: #9c9c9c;
					    font-weight: 300;
	    			}
	    		}
		    	.product-wishlist-edit {
		    		.product-edit, .wishlist-edit {
		    			a {
			   			    letter-spacing: 0.0625rem;
	    					font-size: 0.75rem;
	    					text-decoration: underline;
	    				}
	    			}
	    		}
	    	}
	    }
	    .cart-product-item-subtotal-content {
	    	.product-quantity-price-update {
	    	
	    	}
	    	.line-item-quantity {
	    		.quantity-form {
	    			.quantity-label {
	    				display: none;
	    			}
					.quantity-arrow {
					    position: relative;
    					left: 65%;
    					@include media-breakpoint-down(sm) {
					    	left: 28%;
					    }
    					b {
						   	border-color: #888 transparent transparent transparent;
						    border-style: solid;
						    border-width: 5px 4px 0px 4px;
						    position: absolute;
						    top: 50%;
						}
					}
	    			.quantity {
	    			    background-color: #fff;
					    border: 2px solid #e4e4e4;
					    border-radius: 0;
					    height: 50px;
					    padding: 10px 20px;
					    width: 100%;
					    text-align: center;
					    &:hover {
					        border: 2px solid #9c9c9c;
					    }
	    			}
	    		}
	    	}
	    	.line-item-price-block {
	    		.each-line-item-price {
	    			.line-item-price-info {
		    			display: none;
		    		}
	    			.price {
	    			    font-size: 1rem;
					    display: block;
					    font-weight: 300;
					    text-transform: uppercase;
	    			}
	    		}
	    		.line-item-total-price {
	    			display: none;
	    		}
	    	}
	    }
	    .main-cart-item-remove {
			.remove-product {
			    letter-spacing: 0.0625rem;
	    		font-size: 0.75rem;
			    background: white !important;
	    		box-shadow: none !important;
			    text-decoration: underline;
			    text-transform: capitalize;
			    color: #202020 !important;
			    bottom: auto;
			    right: auto;
			    padding: 0;
			    margin: 0;
			    font-size: 0.75rem;
			    font-weight: 300;
			}
		}
	}
	.cart-summary {
		background-color: #f9f9f9;
		.top-checkout-continue {
			.checkout-btn {
			    box-shadow: none !important;
			    width: 100%;
			    text-align: center;
			    background-color: transparent !important;
			    color: #202020;
			    text-decoration: underline;
			    font-weight: 300;
			    font-size: 0.875rem;
			    border: 0;
			}
		}
		.main-checkout-continue {
			.checkout-btn {
			    background-color: #00AB84;
			    color: #fff;
			    padding: 10px;
			    font-size: 14px;
			    border: 0 !important;
			    box-shadow: none !important;
			    border-radius: 0;
			    &:hover {
				    background-color: #005E35;
				}
			}
		}
		.main-cart-totals {
		    color: #9c9c9c;
		    font-size: 14px;
		    font-weight: 300;
		    .order-discount {
		    	color: #990000;
		    }
		}
		.final-cart-total {
		    font-size: 1.125rem;
		    text-transform: uppercase;
		    letter-spacing: 0.0625rem;
		    color: #202020;
		    font-weight: 500;
		    border-top: 1px solid #e4e4e4;
		    .inclusive-tax {
			    font-size: 14px;
	    		color: #9c9c9c;
		    }
		}
		.afterpay-checkout {
			.afterpay-message {
			    font-size: 11px;
    			color: #9c9c9c;
    			.afterpay-image {
    				img {
    					width: 90px;
    				}
    			}
    			.afterpay-learn-more {
    			    color: #202020;
    			    a {
    			    	text-decoration: underline;
    			    }
    			}
			}
		}
		.main-continue-shopping {
			border-bottom: 1px solid #e4e4e4;
			.continue-shopping-link {
				box-shadow: none !important;
			    width: 100%;
			    text-align: center;
			    background-color: transparent !important;
			    color: #202020;
			    text-decoration: underline;
			    font-weight: 300;
			    font-size: 0.875rem;
			    border: 0;
			}
		}
		.main-paypal-continue {
			.main-paypal-link {
			    display: block;
			    height: 40px;
			    background-color: #FFF;
			    border: 1px solid #e9e9e9;
			    width: 100%;
			    text-align: center;
			    img {
			        width: 75px;
    				height: 38px;
			    }
			}
		}
		.payment-icons {
		    width: 100%;
    		height: 24px;
			img {
				width: 60%;
			}
		}
		.cart-order-summary {
		    border-top: 1px solid #e4e4e4;
		    text-transform: uppercase;
		    letter-spacing: 0.0625rem;
		    border-bottom: 1px solid #e4e4e4;
		    text-align: right;
		    @include media-breakpoint-down(md) {
		    	text-align: center;
		    }
			h1 {
				font-size: 1.125rem;
			}
		}
		.cart-promo-code {
			.cart-promo-main-block {
				border-bottom: 1px solid #e4e4e4;
			}
			.cart-promo-block {
				.cart-promo-label {
				    display: block;
				    cursor: pointer;
				    text-align: left;
				    font-weight: 300;
				    font-size: 0.875rem;
				    color: #9c9c9c;
				    &:before {
				        content: '+';
    					float: right;
				    }
				}
				.cart-promo-label.active {
				    &:before {
				        content: 'x';
    					float: right;
				    }
				}
				.cart-promo-content {
					display: none;
					input {
						border: 0;
					    border-bottom: 1px solid #e4e4e4;
					    font-size: 1.125rem;
					    color: #e9e9e9;
					    background-color: transparent;
					    line-height: 60px;
    					height: 60px;
					    margin-bottom: 10px;
					    &:focus {
					    	background-color: white;
					        border-bottom: 1px solid #006A9F;
    						color: #272727;
					    }
					}
					.promo-code-btn {
						@include blue-black-button;
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(sm) {
  .mobile-top-checkout-continue {
	.checkout-btn {
	    background-color: #202020;
	    color: #fff;
	    padding: 10px;
	    font-size: 14px;
	    border: 0 !important;
	    box-shadow: none !important;
	    border-radius: 0;
	}
  }
  .cart-page {
	.cart-product-info:first-child {
	    border-top: none;
	}
	.cart-product-info {
		.cart-product-item-info-content {
	    	border-right: none;
		}
		.main-cart-item-remove {
			padding: 15px 0;
			.remove-product {
			}
		}
		.cart-product-item-subtotal-content {
			.product-quantity-price-update {
				height: auto !important;
			    padding-bottom: 15px;
			}
			.line-item-quantity {
				.quantity-form {
					font-size: 15px;
					.quantity {
					    font-size: 15px;
					    padding: 15px;
					    min-width: 50px;
					}
				}
			}
		}
	}
  }
}