@import "./variables";
@import "./mixins";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "~base/components/formFields";

// Login Page SCSS

.login-body, .login-head {
	@include media-breakpoint-down(lg) {
	    max-width: 1700px;
    	margin: auto;
    }
}
.login-page {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
    .account-login, .account-create, .account-check-order, .guest-checkout {
        height: 100%;
        .account-login-expand, .account-create-expand, .account-check-order-expand, .guest-checkout-expand {
            display:none;
        }
        .account-login-close, .account-create-close, .account-check-order-close, .guest-checkout-close {
            display:none;
        }
        @include media-breakpoint-down(lg) {
            height: 100%;
        }
        @include media-breakpoint-down(sm) {
            margin: 20px !important;
            .account-login-expand, .account-create-expand, .account-check-order-expand, .guest-checkout-expand {
                display: block;
                font-size: 22px;
                float: right;
                position: absolute;
                right: 44px;
                top: 32%;
                font-weight: bold;
                color: #000;
            }
            .account-login-close, .account-create-close, .account-check-order-close, .guest-checkout-close {
                display: none;
                font-size: 22px;
                float: right;
                position: absolute;
                right: 44px;
                top: 5%;
                font-weight: 200;
                color: #000;
            }
            .account-active {
                display: none;
            }
            .account-deactive {
                display: block;
            }
            .account-login-content, .account-create-content, .account-check-order-content, .guest-checkout-content {
                display:none;
            }
            .account-content-active {
                display:block;
                padding: 20px;
            }
        }
    }
    .account-create-content {
    	.content-asset {
    	    text-align: center;
		    font-size: 0.75rem;
		    letter-spacing: 0.0625rem;
		    font-weight: 200;
		    strong {
		   	    font-weight: bold;
		    }
    	}
    }
    .login-head {
        a {
        	color: #ffffff;
            &:hover{
                    color: #006095 !important;
                    transition: 0.3s;
            }
        }
    }
    .form-group {
        .form-control-label {
			@include sds-myaccount-input-label;
        }
        .form-control{
            @include sds-myaccount-input;
        }
        .password-eye {
		    position: relative;
		    top: 45px;
		    float: right;
		    right: 20px;
		}
    }
    .custom-checkbox {
    	input {
			opacity: 0;
    	    position: relative;
		    top: 24px;
		    left: 4px;
		    z-index: 2;
		    box-shadow: none !important;
    	}
    	input[type=checkbox]:checked + label:after {
    		background: #006095;
    		z-index: 4;
    		border-radius: 0;
    	}
    	input[type=checkbox]:checked + label:before {
				border: 1px solid #181818 !important;
				box-shadow: none !important;
		}
    	label {
	    	@include sds-myaccount-newsletter;
	    	&:before {
	    		border-radius: 0;
	    	    border: 1px solid #e4e4e4 !important;
    			background: white !important;
    			box-shadow: none !important;
	    	}
	    	&:hover::before {
				border: 1px solid #181818 !important;
			}
	    }
    }
}
.forgot-password {
    #password-reset {
        color: #202020;
	    text-decoration: none;
    }
}
.account-login {
    .button-success {
        background-color:#272727;
        color: #ffffff;
	    box-shadow: none !important;
	    border-radius: 0;
	    border: 0;
	    
        &:hover {
            background-color: #005E35 !important;
        }
    }
}
.account-login-head, .account-create-head, .account-check-order-head, .guest-checkout-head {
    .account-expand {
        display: none;
    }
    @include media-breakpoint-down(sm) {
        height: auto;
        font-size: 15px;
        padding: 20px;
            h3 {
                font-size: 15px;
                line-height: 30px;
                position: relative;
                width: 100%;
                text-align: center;
                left: 0%;
            }
    }
}
.account-check-order-head {
	button {
		box-shadow: none !important;
	    border-radius: 0;
	    border: 0;
	}
}
// Register Page SCSS

.register-page {
	background-color: #f9f9f9;
    .register-head {
        background-color: #171717;
        a {
            &:hover {
                color: #006095 !important;
                transition: 0.3s;
            }
        }
        .register-main-head {
            margin: 0;
            padding-bottom: 70px;
            text-align: center;
            .register-main-head-title {
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 0.5rem;
                font-size: 4.5rem;
                font-weight: 200;
                font-family: Steelfish, Roboto, Helvetica, Arial, sans-serif;
                @include media-breakpoint-down(sm) {
                    font-size: 40px;
                }
            }
        }
    }
    .register-account-form {
        .register-account-form-block {
            width: 600px;
            margin: auto;
            background-color: #ffffff;
            @include media-breakpoint-down(sm) {
                width:80%;
            }
                .registation-header {
                    font-size: 20px;
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                .form-group {
                    overflow: hidden;
                    text-align: left;
                    .form-control-label {
                        @include sds-myaccount-input-label;
                    }
                    .form-control{
                        @include sds-myaccount-input;
                    }
                    .password-eye-reg, .password-eye-con {
					    position: relative;
					    top: 45px;
					    float: right;
					    right: 20px;
					}
					.form-caption {
		    		    padding: 8px 1.25rem;
					    font-weight: 200;
					    font-size: 0.75rem;
					    color: #9c9c9c;
					    float: right;
		    		}
                }
			    .newsletter-gender {
		    		input {
		    		    opacity: 0;
					    position: relative;
					    top: 26px;
    					left: 5px;
					    z-index: 2;
					    float: left;
					    @include media-breakpoint-down(xs) {
						    top: 37px;
    						left: 3px;
						}
		    		}
		    		input[type=radio]:checked + label:after {
		    			background: #006095;
		    			z-index: 4;
		    		}
		    		input[type=radio]:checked + label:before {
		    			border: 1px solid #181818;
		    		}
		    		.newsletter-male, .newsletter-female {
		    			label {
					    	@include sds-myaccount-newsletter;
					    	@include media-breakpoint-down(xs) {
								max-width: 310px;
					        }
					    	&:hover::before {
								border: 1px solid #181818 !important;
					    	}
					    }
					}
		    	}
                .custom-checkbox {
                    .custom-control-label {
                        span {
                            font-size: 12px;
                            font-weight: 200;
                            color: #2b2b2b;
                            float: right;
                            a {
                                text-decoration: underline;
                                font-weight: 300;
                                color: #202020;
                            }
                        }
                    }
                    input {
						opacity: 0;
			    	    position: relative;
					    top: 22px;
					    left: 4px;
					    z-index: 2;
					    box-shadow: none;
			    	}
			    	input[type=checkbox]:checked + label:after {
			    		background: #006095;
			    		border: 1px solid #181818 !important;
			    		z-index: 4;
			    		border-radius: 0;
			    	}
			    	label {
				    	@include sds-myaccount-newsletter;
				    	&:before {
				    		border-radius: 0;
				    	    border: 1px solid #e4e4e4 !important;
			    			background: white !important;
			    			box-shadow: none !important;
				    	}
				    	&:hover::before {
							border: 1px solid #181818;
					   }
				    }
                }
                .register-button.active {
    			    background-color: #272727;
    			    opacity: 1;
    			    cursor: pointer;
    			    color: white;
    			    &:hover {
    			    	background-color: #006095;
    			    }
			    }
                .register-button {
                    background-color: #ccc;
                    border-color: #ccc;
                    color: #666;
                    opacity: 0.5;
                    border: 0;
				    border-radius: 0;
				    cursor: not-allowed;
                    &:focus {
                        box-shadow: none;
                    }
                }
                .checkout-active {
                    background-color: #006095;
                    &:hover {
                        background-color: #006095;
                    }
                }
            .privacy-policy {
                font-weight: 200;
                font-size: 0.75rem;
                color: #9c9c9c;
                a {
                    text-decoration: none;
                    color: #202020;
                }
            }
        }
    }
}