@import "../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.full-bleed {
    background-color: rgb(39, 39, 39);
    padding: 0px 20px;
}

.footer--util {
    background-color: #ffffff;
    //padding: calcrem(50) 0 3.75rem;
    color: #000;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;   
}

.global-footer {
    clear: both;
    letter-spacing: 1px;
    position: relative;
}

.footer-container {
    padding: 6.25rem 0 3.75rem;
    @media screen and (max-width: 768px) {
    	padding: 0;
	}
	button {
	    width: 100%;
	    padding: 1.25rem 1.25rem;
	    text-align: left;
	    background-color: transparent;
	    border-top: 1px solid rgba(255, 255, 255, 0.1);
	    &:after {
		    content: '+';
		    font-size: 1.5rem;
		    float: right;
		}
	}        
    h3 {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 1rem;
        padding: 0 0 1.25rem 0;
        margin: 0;
        letter-spacing: 0.125rem;
        font-weight: bold;
        min-height: 60px;
        @media screen and (max-width: 768px) {
		    display: none;
		}
    }
    .footer-item {
        padding: 1.25rem 0 2.5rem;
        height: 100%;
        display: block;
        @media screen and (max-width: 768px) {
		    display: none;
		    padding: 0 1.25rem 2.5rem;
		}
        &.logo {
            svg {
                width: 100%;
                max-width: 6.25rem;
                height: auto;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            display: block;
            float: none;
            position: relative;
            >li {
                display: block;
                float: none;
                font-weight: 200;
                text-transform: uppercase;
                font-size: 0.6875rem;
                line-height: 2.3em;
            }
        }
        a {
            color: rgba(#fff, 0.52);
        }
    }
}

.copyright-icons {
    border-top: 1px solid rgba(#fff, 0.2);
    padding: 1.875rem 0;
    font-weight: 200;
    letter-spacing: 0.0625rem;
    font-size: 0.6875rem;
    text-transform: uppercase;
    font-style: normal;
    color: rgba(#fff, 0.3);
    text-align: center;
    .ini {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            &.copyright {
                padding: 0 2.5rem 0 0;
            }
            &.cc-icons {
			    height: 26px;
			    width: 290px;
			    background-image: url(../images/cc-bottom.png);
			    background-size: contain;
			    background-repeat: no-repeat;
			}
        }
    }
}

// Footer Newsletter Section

.showNewsLetter {
	background: #e8e8e8;
    padding: 15px;
    .arrow-icon {
        background: url(../images/newsletter/group.png) 6px -17px no-repeat !important;
    }
    .footer-newsletter-email {
		display: block !important;
	}
	.footer-newsletter-promotion {
		display: none !important;
	}
}
.showNewsLetterSuccess {
	.arrow-up, .footer-newsletter-email {
		display: none !important;
	}
}
.footer-newsletter-block {
	.arrow-up {
	    padding: 15px;
	    position: absolute;
	    cursor: pointer;
	    z-index: 9;
	    .arrow-icon {
		    background: url(../images/newsletter/group.png) 6px 5px no-repeat;
		    width: 30px;
		    height: 20px;
		}
	}
	.right-side {
		right: 15px;
	}
	.footer-newsletter-promotion {
		background: #000;
		max-width: 100%;
		h4 {
		    font-weight: bolder;
	   		font-size: 16px;
	   		color: #fff;
	   	}
	}
	.footer-newsletter-email-success {
		display: none;
		h4 {
			color: #272727;
		    padding-left: 40px;
		    background: url(../images/newsletter/checked.png) no-repeat;
		    line-height: 25px;
		    display: inline-grid;
		    font-size: 16px;
    		font-weight: bold;
    		text-align: center;
    		margin: 30px;
		}
		.sds--icons {
		    font-size: 24px;
    		float: right;
		}
		.button {
		    font-size: 20px !important;
			display: block;
    		width: fit-content;
    		margin: auto;
    		background: #000;
    	    color: #fff;
		}
	}
	.footer-newsletter-email-success.success {
		display: block;
	}
	.footer-newsletter-email {
		display: none;
		.footer-email-signup {
			h4 {
			    font-size: 14px;
    			font-weight: bolder;
			}
		   	p {
		   	    font-size: 14px;
	    		font-weight: 100;
	    		margin: 0;
	    		a {
	    			text-decoration: underline;
	    		}
		   	}
		   	.footer-newsletter-email-block {
		   	    justify-content: center;
		   	}
		   	.footer-newsletter-email-block.isinvalid .email-signup-message {
		   	   	width: 100%;
			    left: 0;
			    background: #DE3333;
			    padding: 10px;
			    color: #fff;
		   	}
		   	.footer-newsletter-email-block.isinvalid  .input-group .form-control {
		   	  	background-color: #faeded;
		   	}
		   	.input-group {
		   		height: 50px;
		   		.footer-newsletter-gender-select {
		   			padding: 7px;
				    select {
				    	font-size: 16px;
	    				font-weight: 300;
				    }
		   			&:after {
						content: "|";
						color: #9c9c9c;
					}
			   	}
		   		.form-control {
			   	    color: #9c9c9c;
				    height: auto;
				    font-size: 14px;
				    font-weight: 300;
				    line-height: 1.125rem;
				    letter-spacing: 0.1125rem;
				    &:focus {
				        background-color: #ffffff !important;
				    }
		   		}
		   		.input-group-append {
		   			button {
			   		    font-size: 14px;
					    background: #f0f0f0 !important;
					    color: #000;
	    				letter-spacing: 0.18em;
	    			}
	    			.selvalid {
	    			    background: #48c38f !important;
    					color: #ffffff;
	    			}   
		   		}
		   	}
		}
	}
}